<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddup.county.life.mapper.CountyUserTokenMapper">
  <resultMap id="BaseResultMap" type="com.ddup.county.life.entity.CountyUserToken">
    <id column="token_id" jdbcType="VARCHAR" property="tokenId" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="app_type" jdbcType="VARCHAR" property="appType" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="user_type" jdbcType="VARCHAR" property="userType" />
    <result column="shop_code" jdbcType="VARCHAR" property="shopCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="old_token_id" jdbcType="VARCHAR" property="oldTokenId" />
    <result column="user_flag" jdbcType="VARCHAR" property="userFlag" />
    <result column="last_create_timestamp" jdbcType="BIGINT" property="lastCreateTimestamp" />
  </resultMap>
  <sql id="Base_Column_List">
    token_id, device_id, app_type, user_code, user_type, shop_code, create_time, update_time, 
    old_token_id, user_flag, last_create_timestamp
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from county_user_token
    where token_id = #{tokenId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from county_user_token
    where token_id = #{tokenId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ddup.county.life.entity.CountyUserToken">
    insert into county_user_token (token_id, device_id, app_type, 
      user_code, user_type, shop_code, 
      create_time, update_time, old_token_id, 
      user_flag, last_create_timestamp)
    values (#{tokenId,jdbcType=VARCHAR}, #{deviceId,jdbcType=VARCHAR}, #{appType,jdbcType=VARCHAR}, 
      #{userCode,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{shopCode,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{oldTokenId,jdbcType=VARCHAR}, 
      #{userFlag,jdbcType=VARCHAR}, #{lastCreateTimestamp,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ddup.county.life.entity.CountyUserToken">
    insert into county_user_token
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tokenId != null">
        token_id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="appType != null">
        app_type,
      </if>
      <if test="userCode != null">
        user_code,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="shopCode != null">
        shop_code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="oldTokenId != null">
        old_token_id,
      </if>
      <if test="userFlag != null">
        user_flag,
      </if>
      <if test="lastCreateTimestamp != null">
        last_create_timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tokenId != null">
        #{tokenId,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="appType != null">
        #{appType,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="shopCode != null">
        #{shopCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oldTokenId != null">
        #{oldTokenId,jdbcType=VARCHAR},
      </if>
      <if test="userFlag != null">
        #{userFlag,jdbcType=VARCHAR},
      </if>
      <if test="lastCreateTimestamp != null">
        #{lastCreateTimestamp,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ddup.county.life.entity.CountyUserToken">
    update county_user_token
    <set>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="appType != null">
        app_type = #{appType,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="shopCode != null">
        shop_code = #{shopCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oldTokenId != null">
        old_token_id = #{oldTokenId,jdbcType=VARCHAR},
      </if>
      <if test="userFlag != null">
        user_flag = #{userFlag,jdbcType=VARCHAR},
      </if>
      <if test="lastCreateTimestamp != null">
        last_create_timestamp = #{lastCreateTimestamp,jdbcType=BIGINT},
      </if>
    </set>
    where token_id = #{tokenId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ddup.county.life.entity.CountyUserToken">
    update county_user_token
    set device_id = #{deviceId,jdbcType=VARCHAR},
      app_type = #{appType,jdbcType=VARCHAR},
      user_code = #{userCode,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      shop_code = #{shopCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      old_token_id = #{oldTokenId,jdbcType=VARCHAR},
      user_flag = #{userFlag,jdbcType=VARCHAR},
      last_create_timestamp = #{lastCreateTimestamp,jdbcType=BIGINT}
    where token_id = #{tokenId,jdbcType=VARCHAR}
  </update>
</mapper>