<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddup.county.life.mapper.customer.CountyUserCustomerMapper">

    <select id="queryUserByParams" parameterType="com.ddup.county.life.entity.CountyUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        <where>
            <if test="params!=null and params.name!=null " ></if>
        </where>

    </select>
</mapper>